body {
    font-size: 24px;
    background: #4f4f4f;
    color: #ffffff;
}

h1 {
    text-align: center;
}

.todolist {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}
li {
    margin-top: 10px;
}

.done-true {
    text-decoration: line-through;
}

.todolist li .edit {
    display: none;
}
.todolist li.editing {
    /*border-bottom: 1px solid #778899;*/
}

.todolist li.editing .view {
    display: none;
}
.todolist li.editing .edit {
    display: block;
    padding: 13px 15px 14px 20px;
    margin: 0;
}
.description {
    height: 100px;
    background: #2e6da4;
    padding: 0 10px 0 10px;
}
.description:hover {
    background: #2e6ddf;
}
.description-true {
    background: #2EA45B;
}
.description-true:hover {
    background: #34B356;
}

.glyphicon-remove {
    color: red;
    position: absolute;
    top: 3px;
    right: 10px;
}
.glyphicon-remove:hover {
    color: darkred;
    cursor: pointer;
}

.btn {
    margin-top: 10px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 0;
    /* Firefox 1-3.6 */
    -moz-border-radius: 0;
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius: 0;
}
.btn-info {
    margin-left: 5px;
    margin-bottom: 10px;
}
pre {
    height: 300px;
}
label {
    margin-top: 10px;
}

.type {
    position: absolute;
    top: 50%;
    left: 30%
}
.time {
    position: absolute;
    top: 50%;
    left: 60%
}

.time > i {
    margin-right: 4px;
}
